{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}
    <h1>Welcome to Avshi's Wacky Website</h1>
    <p>This website has a few functnionalities regarding astrology, astronomy and jokes.</p>
    <p>The first one, Mercury retrograde status, takes in a date as an input and returns true if
    Mercury was or will be in retrograde at that specific date or false if not. Find out what
    a Mercury retrograde is on the Mercury retrograde status section. </p>
    <p>Whether you believe in astrology or not, you have to admit astronomy is awesome and the space around us
    is magestic and full of unexplored mysteries. On the Astronomy Picture of the Day (APOD) section of this website
    you will be able to summon the APOD for any given date you feel like watching, courtesy of NASA.</p>
    <p>And lastly, we all know that taking ourselves and life too seriously is not the healthiest of behaviours
    and that sometimes we just need a little laugh in order to feel good, so for that end i created the Joke section
    for you all to be able to get a good laugh at no expense at all...</p>
    <p>Oh and there is the history section that allows you to look at all the different queries you have made
    on this website.</p>
{% endblock %}